.navbar {
  background-color: #041e3fbb;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2px;
  box-shadow: 2px 2px 2px #888888;
}
.App {
  text-align: center;
}

.h-100 {
  height: 552px;
}

.comp-area-height-full {
  height: 550px;
  margin-top: 2px;
  width: 81%;
  margin-left: 12px;
}

.bg-light {
  background-color: rgba(208, 208, 208, 0.308);
  box-shadow: 4px 8px 4px 2px #888888;
}

.sub-btn {
  margin-left: 19px;
}

.chk-lbl {
  margin-left: 29px;
}

.btn-va {
  margin-top: 8px;
}

.link-color, .btn-link:active, .btn-link:focus, .btn-link:hover {
  color: cornsilk;
}

.pull-right{
  margin-right: 16px !important;
}